@media screen and (max-width: 1800px) {
    .areaCards {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width: 1500px) {
    .areaCards {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 1200px) {
    .areaCards {
        grid-template-columns: repeat(2, 1fr);
    }
}